@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
}

body {
  background: hsl(0deg, 0%, 100%);
}
body .card {
  background: hsl(30deg, 38%, 92%);
  height: 1008px;
  width: 1728px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .card .cont {
  border-radius: 15px;
  display: flex;
  width: 648px;
  height: 432px;
  overflow: hidden;
  background-color: hsl(0deg, 0%, 100%);
}
body .card .cont .img {
  background: url("images/image-product-desktop.jpg");
  height: 432px;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body .card .cont .product-dsc {
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
body .card .cont .product-dsc #perfume {
  letter-spacing: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
body .card .cont .product-dsc h1 {
  position: relative;
  top: 21.6px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 28px;
}
body .card .cont .product-dsc b {
  position: relative;
  top: 69.12px;
  font-family: "Fraunces", serif;
  font-size: 28px;
  color: hsl(158deg, 36%, 37%);
  margin-right: 10px;
}
body .card .cont .product-dsc s {
  position: relative;
  top: 64.8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
body .card .cont .product-dsc button {
  cursor: pointer;
  position: relative;
  top: 69.12px;
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 10px;
  background: hsl(158deg, 36%, 37%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Fraunces", serif;
  color: hsl(0deg, 0%, 100%);
}
body .card .cont .product-dsc button:hover {
  background: hsl(158deg, 36%, 25%);
}
body .card .cont .product-dsc .description {
  position: relative;
  top: 43.2px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

@media screen and (max-width: 375px) {
  body .card {
    width: 375px;
    height: 675px;
    margin: auto;
  }
  body .card .cont {
    position: relative;
    margin: 20px;
    width: 375px;
    height: 637.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  body .card .cont .img {
    background: url("images/image-product-mobile.jpg");
    background-size: cover;
    background-position: center;
    width: 120%;
    height: 337.5px;
  }
  body .card .cont .product-dsc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  body .card .cont .product-dsc #perfume {
    position: relative;
    top: -40px;
  }
  body .card .cont .product-dsc h1 {
    position: relative;
    top: -35px;
    font-size: 25px;
  }
  body .card .cont .product-dsc .description {
    position: relative;
    top: -15px;
  }
  body .card .cont .product-dsc b {
    position: relative;
    top: 20px;
  }
  body .card .cont .product-dsc s {
    position: relative;
    top: 18px;
  }
  body .card .cont .product-dsc button {
    position: relative;
    top: 25px;
  }
}/*# sourceMappingURL=style.css.map */